{% extends "layout.html" %}


{% block main %}
<div class="post">
    <h3 class="title">Welcome to Haanga's home</h3>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
This is the documentation for the Haanga general purpose templating language. Haanga is a library for PHP 5.2 and onwards that is designed to be flexible, fast and secure.
  <ul class="pages"> 
    <li><a href="/book/01-Introduction">Introduction</a></li> 
    <li><a href="/book/02-Twig-for-Template-Designers">Twig for Template Designers</a></li> 
    <li><a href="/book/03-Twig-for-Developers">Twig for Developers</a></li> 
    <li><a href="/book/04-Extending-Twig">Extending Twig</a></li> 
    <li><a href="/book/05-Hacking-Twig">Hacking Twig</a></li> 
    <li><a href="/book/06-Recipes">Twig Recipes</a></li> 
  </ul> 
    </div>
</div> 
{% endblock %}
