{% extends "layout.html" %}


{% block main %}
<div class="post">
    <h2 class="title">Introduction</h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
    <a name="install"></a>
    <h3>Installation</h3>
    <p>There are several ways to install Haanga. If you are unsure what to do, go with the tarball.</p>
    <h4>Tarball</h4>
    <ul>
        <li>Download the most recent tarball from the <a href="http://github.com/crodas/Haanga/downloads">download page</a>.</li>
        <li>Unpack the tarball</li>
        <li>Move the <em>lib/</em> directory to your project</li>
    </ul>
    <h4>PEAR</h4>
    <p>Install PEAR, and execute this from your console</p>
    {% source_code "pear_installation.sh" %}
    <h4>Installing the development version</h4>
    <p>In order to install the development version, you must install <a href="http://git-scm.org/">GIT</a> locally, then execute this from you console</p>
    {% source_code "git_clone.sh" %}
    <h3 id="#basic">Basic usage</h3>
    <p>The most basic setup of Haanga as follows, although <a href="/documentation/Haanga-for-Developers#configuration">there are more options</a>:</p>
        {% source_code "init.php" %}
    <p>Now let's create a very basic template</p>
        {% source_code "sample_template.html" %}
    <p>And this is how we load it from PHP and we pass variables</p>
        {% source_code "load.php" %}
    <p>The first time (and when the template is changed) the compiler is load in memory and template is compiled into an equivalent PHP function, this is know as the <em>worst case</em>. Later, that PHP function is saved into the filesystem, and <em>only</em> that file is used. The above template is generated in the following PHP:</p>
        {% source_code "sample_template.html.php" %}
    <p>As you can see the generated code is very simple, therefore optimized. </p>
    </div>
</div> 
{% endblock %}
