{% extends "layout.html" %}


{% block main %}
<div class="post">
    <h3 class="title">Support</h3>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
        <h3>Mailing list</h3>
        <ul>
            <li><a href="http://groups.google.com/group/haanga">Haanga (English)</a></li>
            <li><a href="http://groups.google.com/group/haanga-es">Haanga (Spanish)</a></li>
        </ul>
        <p>Don't forget to vist #haanga (or #haanga-es) on <a href="http://freenode.net/">Freenode</a></p>
    </div>
</div>
{% endblock %}
